<link rel="./homepage.component.html" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="container">
        <h2>Welcome!!</h2>
        <h1>Weather Visualization</h1>

        <form class="input" (submit)="onSearch($event)">
          <select [(ngModel)]="location" name="location" class="inputValue">
            <option value="" disabled selected>Select a town</option>
            <option value="buea">Buea</option>
            <option value="douala">Douala</option>
            <option value="limbe">Limbe</option>
            <option value="bamenda">Bamenda</option>
        </select>
            <button type="submit">Search</button>
          </form>
    </div>
  </body>


  