body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/background.jpg);
    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 32;
    line-height: normal;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 28;
    line-height: 0rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 1em;
    padding: 2em;
    border-radius: 15px;
    background: #000000d0;
    color: white;
}
/*
.input {
    margin-top: 50px;
    display: flex;
    gap: 1rem;
}

select {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: rgb(190, 184, 184);
    height: 50px;
    width: 300px;
    background: #0000002b;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
*/
button {
    border: none;
    height: 50px;
    padding: 0.3rem 2rem;
    border-radius: 10px;
    background: #0c0c0c;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: (.5s);
}

button.button:focus{
    outline:none;
}
/*
button.button:hover{
    border: 1px solid rgb(122, 112, 112) 
    
}
    */

.chart-container {
    margin-top: 30px;
    width: 100%;
}
.chart-selection {
    background: #0c0c0c;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
  
  .chart-selection legend {
    color: white;
    font-weight: bold;
  }
  
  .chart-selection label {
    color: white;
    margin-right: 1rem;
  }



.input {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

select, .chart-library-selection, button {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: white;
    height: 50px;
    background: #0c0c0c;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

select {
    width: 300px;
    color: rgb(190, 184, 184);
    background: #0c0c0c;
}

.chart-library-selection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chart-library-selection span {
    margin-right: 0.5rem;
}

.chart-library-selection label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

button:hover, .chart-library-selection:hover {
    border: 1px solid rgb(122, 112, 112);
}



/* Target all text elements in the chart */
.ngx-charts text {
    fill: white !important;
  }
  
  /* Specific targeting for axis and labels */
  .ngx-charts .xAxis text,
  .ngx-charts .yAaxis text,
  .ngx-charts .xAxisLabel,
  .ngx-charts .yAxisLabel {
    fill: white !important;
  }
  
 