<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
    <div href="{'background-image': 'url(' + ../assets/images/background.jpg + ')'}">
    </div>

    <div class="container">
        <h2>Select Weather Parameter</h2>
        <h2>What Would You Love To See?</h2>
        <form (submit)="onSubmit($event)" class="input mx-auto">
            <select id="trend" [(ngModel)]="myVar" name="trend">
                    <option value="" disabled>Select a trend</option>
                    <option value="temperature">Temperature</option>
                    <option value="humidity_level">Humidity level</option>
                    <option value="wind_direction">Wind Direction</option>
                    <option value="wind_speed">Wind Speed</option>
                    <option value="precipitation">Precipitation</option>
             </select>
             
            <select id="type" [(ngModel)]="chartType" name="type">
                    <option value="" disabled>Select Chart Type</option>
                    <option value="bar">Bar Chart</option>
                    <option value="line">Line Chart</option>
             </select>

             <!--
             <div>
                <legend>Chart Library</legend>
                <input type="radio" id="chartchoice1" name="chartlibrary" [(ngModel)]="selectedChartLibrary" value="chart.js"/>
                <label for="chartchoice1">Chart.js</label>
                <input type="radio" id="chartchoice2" name="chartlibrary" [(ngModel)]="selectedChartLibrary" value="ngx-charts"/>
                <label for="chartchoice2"> Ngx-Chart</label>
             </div>
             <button type="submit">Get Weather</button>
            -->
        <div class="chart-library-selection">
            <span>Chart Library:</span>
            <label>
                <input type="radio" name="chartlibrary" [(ngModel)]="selectedChartLibrary" value="chart.js"/>
                Chart.js
            </label>
            <label>
                <input type="radio" name="chartlibrary" [(ngModel)]="selectedChartLibrary" value="ngx-charts"/>
                Ngx-Chart
            </label>
        </div>
        <button type="submit">Get Weather</button>

    </form>













        <div class="chart-container">
            <div *ngIf="selectedChartLibrary === 'chart.js'">
            <canvas id="myChartJS" width="400" height="200">{{ chart }}</canvas>
        </div>
        <!--Ngx bar chart-->
           <div *ngIf="selectedChartLibrary === 'ngx-charts'">
            <ngx-charts-bar-vertical *ngIf="chartType === 'bar'"
            [view]="[650,450]"
            
            [results]="barChartData"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        <!--ngx line chart-->
            <ngx-charts-line-chart *ngIf="chartType === 'line'"
            [view]="[650,450]"
            
            [results]="lineChartData"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"> 
            </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</body>
